body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
}

.box{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:  #bf00f9;
    padding: 15px;
    border-radius: 15px;
}

fieldset{
    border: 3px solid black;
}

legend{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color:#f8f8f8;;
    border-radius: 8px;
}

.campo{
    position: relative;
    display: block;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: black;
    font-size: 11px;
    width: 100%;
    letter-spacing: 2px;
}
#Marca{
        color: black;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;  
        background-color: white;  
        border-radius: 5px;  
}



#Voltar{
    padding: 7px;
    color: rgb(10, 8, 8);
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: white; 
    display: inline-block;  
    
}
.Para1{
    font-weight: bold;
}

#Cadas{
 color: white;
 font-weight: bold;
}