/* Aplicar alguns estilos básicos ao corpo */
body {
    font-family: 'Arial', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Estilizar a seção do cabeçalho */
header {
    background-color: #dc70fd;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilizar o logotipo */
header img {
    margin-left: 20px;
}

/* Estilizar o formulário de pesquisa */
.search-form {
    margin-right: 20px;
}

.search-form input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form button {
    padding: 5px 10px;
    background-color: #bf00f9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilizar o menu de navegação */
.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: white;
}

/* Estilizar o menu suspenso */
.menu .dropdown {
    display: none;
    position: absolute;
    background-color: #bf00f9;
    padding: 10px;
    border-radius: 5px;
}

.menu .services:hover .dropdown {
    display: block;
}

.menu .dropdown li {
    margin: 10px 2;
}

/* Aplicar estilos aos links ao passar o mouse */
.menu a:hover {
    color: #a40bd2;
}

/*Parte do cadastrar-se*/
*{
    margin: 0%;
    padding: 0;
    
}

#título{

    color: black;
    margin-left: 33%;
    margin-top: 2%;

}
#sub{

    color: black;
    margin-left: 33%;
    margin-top: 2%;
}
fieldset{
    border: 0;
}


input, button{
    border-radius: 2px;
    justify-content: baseline;
}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color: black;
    
    display: block;
  }
  .campo input [type="text"], .campo input[type="email"], .campo input[type="password"], .campo input[type="date"], .campo input[type="radio"]{
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;

    display: block;
}
.campo input:focus{
    background-color: white;
}
fieldset.grupo{
    float: left;
    margin-right: 1em;
    margin-left: 33%;
    margin-top: 2%;
}

/*Parte do rodapé*/
footer {
        position: absolute;
        bottom: 0;
        background-color: rgb(206, 206, 206);
        color: black;
        width: 100%;
        height: 100px;    
        text-align: center;
        line-height: 20px;
}

/*Parte de entrar*/

#Título{
    
    color: black;
    margin-left: 33%;
    margin-top: 2%;
    
}
#Sub{
    
    color: black;
    margin-left: 33%;
    margin-top: 2%;
}
fieldset{
    border: 0;
}


input, button{
    border-radius: 2px;
    justify-content: baseline;
}
.Campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color: black;
    
    display: block;
  }
  .Campo input [type="text"], .Campo input[type="email"], .Campo input[type="password"], .Campo input[type="radio"]{
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;

    display: block;
}
.Campo input:focus{
    background-color: white;
}
fieldset.Grupo{
    float: left;
    margin-right: 1em;
    margin-left: 33%;
    margin-top: 2%;
}

/*Parte do sobre*/

#comeco{
    text-align: center;
    margin-top: 1%;

}
.Fala{
    margin: 1% 3% 1%; 
}
.Historia{
    border: 0;
    
    color: black;
    text-align: justify;
    margin: 2% 3% 4%;
    display: block;
}

    
